
COMMON: &common
  DEBUG: False
  TESTING: False

DEVELOPMENT: &development
  <<: *common
  DEBUG: True
  TELEGRAM_BOT_TOKEN: YOUR_TELEGRAM_BOT_TOKEN
  MONGO_URI: YOUR_MONGO_URI
  REPEAT_INTERVAL: 60
  INTERVAL_OFFSET: 30

PRODUCTION: &production
  <<: *common
  TELEGRAM_BOT_TOKEN: TELEGRAM_BOT_TOKEN_FOR_PROD
  MONGO_URI: MONGO_URI_FOR_PROD
  REPEAT_INTERVAL: 60
  INTERVAL_OFFSET: 30
